.main__find-user {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  width: 90%;
}

.main__form-instruction {
  align-items: center;
  border-radius: 10px;
  border: 3px solid var(--buttonGreyColor);
  display: flex;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 2rem 2rem;
  width: 90%;
}

.fa-search {
  color: var(--purpleElementsColor);
  font-size: 2em;
}

.form-instruction__text {
  color: var(--purpleElementsColor);
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.find-user__form {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
}

.form__input {
  border: none;
  color: var(--darkFontColor);
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}

.form__input--username {
  background-color: var(--mainBgc);
  border-radius: 6px 0 0 6px;
  border: 1px solid var(--fontGreyColor);
  padding: 0.75rem 1rem;
  width: 100%;
}

.form__input--username::placeholder {
  color: var(--fontGreyColor);
}

.form__input--username:focus {
  outline-offset: -2px;
  outline: 2px solid var(--purpleElementsColor);
}

.form__input--submit {
  -webkit-appearance: none;
  background-color: var(--purpleElementsColor);
  border-radius: 0 6px 6px 0;
  border: none;
  color: var(--whiteColor);
  letter-spacing: 0.05rem;
  padding: 0.5rem 1.4rem;
  transform: translate3d(0, 0, 0);
  transition: 0.15s ease-in-out;
  width: 100%;
}

.form__input--submit:hover {
  -webkit-appearance: none;
  background-color: var(--purpleElementsColorHover);
  cursor: pointer;
}

@media (min-width: 768px) {
  .main__find-user {
    width: 100%;
  }

  .main__form-instruction {
    width: 100%;
  }

  .form__input {
    font-size: 1.4rem;
  }
}
