.header {
  margin: 3rem 0 2rem 0;
  animation-duration: 1.3s;
  animation-name: headerOpening;
  animation-iteration-count: 1;
}

.header__title {
  font-size: 3rem;
  color: var(--purpleElementsColor);
}

.header__title--color {
  color: var(--blueElementsColor);
}

.header__title,
.header__title--color {
  font-weight: 600;
}

.fa-github {
  font-size: 0.75em;
  margin-left: 0.05em;
}

@keyframes headerOpening {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .header {
    margin-top: 10rem;
  }

  .header__title {
    font-size: 4rem;
  }
}
